*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    color: white;
    text-decoration: none;
}
.container{
    width:100%;
    max-width: 1200px;
    margin:auto;
    
}

.header{
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/banner.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    position: relative;
}

.header .content{
    display:flex;
    /* border:1px solid red; */
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;

}
.header img, .about_header img{
    padding-left: 15px;
    padding-top: 10px ;
}

.content h1{
    font-size: 55px;
    margin-bottom: 30px;
}

.button{
    border: 1px solid white;
    width:auto;
    padding: 10px;
    margin: 25px auto;
    transition: 1s;
}
.button:hover{
    background-color: orange;
    border: 1px solid orange;

}
.ul_list{
    margin-right: 50px;
    align-items: center;
    position: relative;
}
.ul_list ul li{
    margin-top: 20px;
    display: inline-block ;
    padding-right: 12px;
}

.ul_list a{
    color: white;
    text-decoration: none;
}

.ul_list ul li::after{
    content:'';
    top:0;
    left:0;
    width: 0;
    height:2.5px;
    display: block;
    margin: auto;
    background: orange;
    /* border: 2px solid orange */

}

.ul_list ul li:hover::after{
    width: 100%;
    transition: 1s;
}

.courses{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.courses .content_box{
    display: flex;
    justify-content: space-around;
    flex-direction: row; 
}

.content_box .box{
    width: 320px;
    height: 200px;
    background: rgba(243, 212, 217,0.4);
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 9px rgba(0,0,0,0.3);

}
.content_box .box:hover{
    transform: scale(0.7);
    transition: 0.5s;
}
.box h3{
    text-align: center;
    padding-top: 20px;
}
.box p{
    padding-left: 20px;
    padding-top: 20px
}
.courses .content{
    text-align:center;
    margin: 30px 0;
    padding: 30px 0;

}

.campus h2{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 20px;
}
.campus p{
    text-align: center;
}

.campus_col{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto;
}

.camp_box{
    border: 1px solid black;
    flex-basis: 35%;
    height: 450px;
    margin: 10px;
    border-radius: 5px;
}
.camp_box .h3{
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    transition: 1s;
}
.camp_box .h3:hover{
    background: rgba(255, 0, 0, 0.7);
    align-items: center;
}
.a{
    background: url(images/london.png) no-repeat center center /cover;
    width: 100%;
}
.b{
    background: url(images/newyork.png) no-repeat center center /cover;
    width: 100%;
}
.c{
    background: url(images/washington.png) no-repeat center center /cover;
    width: 100%;
}

.h3 h3{
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: white;
    position:absolute;
    font-size: 20px;
    bottom: 0;
    left:0;
    opacity: 0;
    transition: 0.5s;
}

.h3:hover h3{
    opacity: 1;
    bottom: 49%;
}

.facility{
    display: flex;
    flex-direction: column;
}
.facility h2{
    margin-top:5%;
    text-align: center;
}
.facility p{
    text-align: left;
    color:gray;
}
.facility .facility_box{
    width: 80%;
    margin:0 auto;
    margin-top: 5%;
    display:flex;
    flex-direction: row;
    /* flex:1; */
}
.facility_box .box{
    /* border: 1px solid black; */
    width: 50%;
}
.facility img{
    width: 70%;
    margin:auto;
    margin-left: 15%;
    border-radius: 20px;
}

.review{
    display: flex;
    flex-direction: column;

}
.review h2{
    margin-top: 10%;
    text-align: center;
}
.review p{
    text-align: center;
}
.review .review_box{
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    width: 80%;
    margin: 5% auto;
    
}

.review_box .box{
    padding: 50px;
    background: rgba(243, 212, 217,0.4);
    margin: 20px;
    position: relative;
}
.review_box  .image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    /* display: inline-block; */
    position: absolute;
    top: 25px;
    left:15px;
    padding: 20px;

}
.e{
    background: url(images/user1.jpg) no-repeat center center /cover;
}
.d{
    background: url(images/user2.jpg) no-repeat center center /cover;
}
.review_box .box h3, .review_box .box p{
    /* display: inline-block; */
    text-align: left;
   
}

.apply{
    background-image: linear-gradient(rgba(4,9,30,0.4)), url(images/banner2.jpg);
    background-size: cover;
    background-position: repeat;
    width: 80%;
    height:50vh;
    margin: 5% auto;
    position: relative;
}
.apply .apply_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.apply h2{
    margin-bottom: 30px;
}

.footer{
    text-align: center;
    padding: 32px;
    clear: both;
    
}

.about_header{
    background-image: linear-gradient(rgba(4,12,35,0.7), rgba(4,12,35,0.7)), url(images/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    /* align-items: center; */
}

.about_header .about_content{
    position: absolute;
    display: flex;
    margin-left: 25%;
    justify-content: center;
    align-items: center;
    color: white;
    top: 50%;
    left: 15%;
    /* border: 1px solid black; */
}

.about_body{
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 15%; */
    /* height: 70vh; */
    width: 100%;
    margin:15% auto;
    margin-bottom: 10%;

}

.about_body .right, .about_body .side{
    flex-basis: 50%;
    height: 300px;
    /* border: 1px solid black; */
}

.about_body .right{
    background: url(images/about.jpg) no-repeat center center /cover;
}

.about_body .side{
    padding: 20px;
}

.about_body .side h2{
    margin-bottom: 20px;
}

.about_body .side p{
    margin-bottom: 20px;
}

.about_body .side a{
    border: 1px solid black;
    color: black;
}
.about_body .side a:hover{
    border: 1px solid orange;
    color: white;
}

.blog_page{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 10% auto;
    margin-bottom: 50%;
    height: 60vh;
    
 

}

.blog_page .left{
    flex-direction: column;
    flex-basis: 60%;
    
    /* background: url(images/certificate.jpg) no-repeat center center /cover; */
}
.blog_page .left img{
     width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 50px;
}
.blog_page .left a{
    color: rgb(245, 70, 70);
}

 .blog_content li h3{
     background: rgb(245, 70, 70);
     text-align: center;
     width: 130%;
     height: 30px;
     padding-top: 5px;
    color: white;
 }
 .blog_content li{
    list-style: none;
    padding: 5px;
    font-size: 14px;
    position: relative;
    margin-left: -40%;
    font-weight: 500;
    /* margin-bottom: 30px; */
}
.blog_content span{
    color: black;
    position: absolute;
    right: -50px;
}

.input_field{
    border: 2px solid #f2f2f2;
    /* padding-left: 20px; */
    padding: 20px;
    position: relative;
}
textarea{
    width: 90%;
    padding: 12px;
    margin: 20px;
    background: #f2f2f2;
    border: none;
}
form h4{
    padding-left: 20px;
    padding-top: 20px;
}
form .form_button{
    color: black;
    border: 2px solid rgb(235, 168, 44);
    background: transparent;
    padding: 12px 24px;
    margin-left: 20px;
    transition: 1s;
    
}
form .form_button:hover{
    color: white;
    background:rgb(235, 168, 44);
}
form input[type=text],
form input[type=email]{
    background: #f2f2f2;
    padding: 12px;
    width: 90%;
    height: 30px;
    margin: 20px;
    display: block;
    border: none;
}

.contact{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 10%;
}
.contact_info{
    flex-basis: 50%;
    margin-top: 30px;
    /* color: rgb(150, 145, 145) */
}
.contact_info h4{
    margin-top: 30px;
    /* color: rgb(150, 145, 145) */
}

.blog_footer{
    position: absolute;
    top: 290%;
    left: 25%;
    clear: both;
}
#show,#close{
    display:none;
    /* visibility: hidden; */
    color: red;
    position: relative;
    top: 20px;
    right: 15px;
}
.icon{
    margin-top: 15px;
}
.fa{
    color: red;
}

@media (max-width: 500px){
    .header img{
        width: 170px;
        height: 50px;
    }
    .campus_col{
    display: grid;
    grid-template-columns:1fr;
    width: 100%

}
.a,.b,.c{
    width: 80%;

}

.review .review_box{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    width: 100%;
    margin: 5% auto;
    
}
.blog_footer{
    position: absolute;
    top: 310%;
    left: 0;
    clear: both;
}
/* .about_body .side{
    margin-bottom: 20%;
} */
}




@media(max-width: 700px){
    .header img{
        width: 170px;
        height: 50px;
    }
    .ul_list{
        display: block;
        background: red;
        height: 100vh;
        position: absolute;
        width: 0;
        margin-right: 0px;
        top: 0;
        right: 0;
        z-index: 2;
        transition: 1s ease;
    }

    .ul_list ul li{
        display: block;
        padding: 10px 10px;
        text-align: center;
        
    }

    .ul_list ul li:hover::after{
        width: 50%;
        margin: auto;
        display: block;
    }

    .content h1{
        font-size: 22px;
    }
    .content p{
        font-size: 14px;
        /* word-break: break-all; */
        padding-left: 5px;
        /* line-break:auto; */
    }
    .courses .content_box{
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column; 
}
    .campus_col{
    display: grid;
    grid-template-columns:1fr;
    /* width: 80% */

}
    .a, .b, .c{
        width: 60%;
        margin-left: 20%;
    }
    .facility .facility_box{
    display:flex;
    width: 110%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: -50px;
    /* border: 1px solid black; */
    /* background: black; */
    
}
    .facility p{
        margin-bottom: 20px;
    }
    .facility img{
        flex-basis: 100%;
    width: 120%;
    margin:auto;
    border-radius: 20px;
}
.review h2, .facility h2, .campus h2, .courses h2{
    font-size: 18px;
}
.review p, .facility p, .campus p, .courses p{
    font-size: 14px;
}
.facility_box h3, .review_box h3{
    font-size: 16px;
}
.facility_box p{
    font-size: 14px;
}
.review .review_box, .review_box p{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    width: 90%;
    margin: 5% auto;
    
}
.apply{
    background-size: cover;
    width: 100%;
}
.apply .apply_content{
    width: 90%;
    font-size: 14px;
    /* left:50%; */
}

.about_body{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.about_body .side{
    margin-bottom: 20%;
}
.about_body .right{
    min-height: 40vh;
    width: 100%;
    flex-basis: 50%;
    border: 1px solid black;
}
.blog_page{
    flex-direction: column-reverse;

}

.blog_page .left{
    display: flex;
    flex-direction: column;

}
.blog_page .left h3{
    font-size: 16px;
    text-align: center;

}
.blog_page .left p{
    font-size: 14px;
}
.blog_content{
    margin-bottom: 15%;
}
 .blog_content li h3{
     width: 100%;
 }
 .blog_content li{
    margin-left: 0;
}
.blog_content span{
    right: 10px;
}
.blog_footer{
    position: absolute;
    top: 310%;
    left: 0;
    clear: both;
}
.input_field{
    margin-bottom: 10%;
}
.contact{
    flex-direction: column;
}
.contact_info{
    margin-bottom: 10%;
}
.footer{
    width: 70%;
    margin-left:20%;
}
.footer h4{
    margin-bottom: 10px;
    font-size: 18px
}
.footer p{
    font-size: 14px;
}
#show{
    display: block;
    visibility: visible;
    cursor: pointer;
}
#close{
    display:block;
    color: orange;
    position: absolute;
    left: 20px;
    top:10px;
}
}